*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 350px;
    background-color: rgb(8, 8, 168);
}
.maincontiner{
    width: 100%;
    height: 100px;
    display: flex;
}
.main{
    width: 100%;
    height: 60px;
    margin: 1%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}
.mainheading{
    color: white;
    padding: 10px;
    width: 50%;
    height: 40px;
    padding-left: 9%;
}

.mainlogo{
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
}
.anchor{
    text-decoration: none;
}
.link1{
    color: white;
    padding: 20px;
}
.anchor1{
    width: 60px;
    height: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    margin-top: 2%;
    padding-top: 1%;
    margin-right: 45px;
    border-radius: 10px;
    text-decoration: none;
}
.maincontiner1{
    width: 97%;
    height: 50px;
    margin: 1%;
    padding-left: 5%;
    display: flex;
}
.anchor2{
    width: 60px;
    height: 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(8, 8, 168);
    margin-top: 2px;
    padding: 4px 10px;
    padding-top: 10px;
    margin-left: 45px;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
}
.anchor2:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 255);
    border: 1px solid rgb(0, 0, 0);
}
.heahing{
    padding-top: 3%;
    font-size: 30px;
    padding-left: 9%;
    color: rgb(255, 255, 255);
}
.heahing1{
    padding-top: 10px;
    font-size: 30px;
    padding-left: 9%;
    color: rgb(255, 255, 255);
}
.maincontiner2{
    align-items: center;
    margin-top: 1%;
    border: 3px solid rgb(241, 206, 4);
    width: 80%;
    height: 50px;
    margin-left: 10%;
    display: flex;
}
input[type="text"]{
    margin-left: 1px;
    padding: 10px 10px;

}