*{
    margin: 0;
    padding: 0;
    font-family: Cambria;
}
header{
    width: 100%;
    height: 360px;
    background-color: #093594;
}
.headcontiner1{
    /* border: 1px solid white; */
    width: 100%;
    height: 80px;
    display: flex;
}
.head{
    /* border: 1px solid white; */
    width: 100%;
    height: 60px;
    margin: 1%;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
}
.Heading{
    /* border: 1px solid white; */
    color: white;
    padding: 10px;
    width: 20%;
    height: 40px;
    padding-left: 8%;
}
.headBook{
    font-size: 150%;
    padding-top: 3px ;
}
.Navbar{
    /* border: 1px solid white; */
    width: 80%;
    height: 60px;
    padding-left: 20%;

    display: flex;
    flex-direction: row;
}
.headlink{
    text-decoration: none;
}
.link1{
    color: white;
    padding: 20px;
}
.headbtn{
    width: 80px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    margin-top: 2%;
    padding-top: 1%;
    margin-right: 20px;
    /* border: 1px solid white; */
    border-radius: 5px;
}
.Navbar1{
    /* border: 1px solid white; */
    width: 60%;
    height: 50px;
    margin-left: 5%;
    margin-top: 2px;
    /* padding-left: 5%; */
    display: flex;
}
.headbtn1{
    width: 80px;
    height: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 4px 10px;
    padding-top: 5px;
    margin-left: 20px;
    border-radius: 50px;
    text-decoration: none;
}
.headbtn1:focus{
    background-color: #038eff65;
    border: 1px solid rgb(255, 255, 255);
}
.headbtn1:hover{
    background-color: #038eff65;
}
.heahing{
    padding-top: 3%;
    font-size: 60px;
    padding-left: 9%;
    margin-top: 1%;
    color: rgb(255, 255, 255);
}
.heahing1{
    padding-top: 10px;
    font-size: 30px;
    padding-left: 9%;
    color: rgb(255, 255, 255);
}
.Navbar2{
    align-items: center;
    margin-top: 1%;
    /* border: 3px solid rgb(241, 206, 4); */
    border-radius: 5px;
    background-color:  rgb(253, 173, 0);
    padding: 3px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.dorpdown{
    width: 35%;
    border-radius: 5px;
    margin-left: 1px;
    padding: 15px 10px 15px 10px;
}
input[type="date"]{
    width: 25%;
    border-radius: 5px;
    margin-left: 1px;
    padding: 15px 10px 15px 10px;
}
.dorpdown1{
    width: 30%;
    border-radius: 5px;
    margin-left: 1px;
    padding: 15px 10px 15px 10px;
}
input[type="button"]{
    width: 10%;
    font-size: larger;
    color:#fff;
    background-color:  #0252ff;
    border-radius: 5px;
    margin-left: 1px;
    padding: 13px 10px 13px 10px;
}